body{
  min-height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.colorBtn{
  padding: 0.25rem 0.5rem;
  text-transform: uppercase;
  border: 3px solid #fefefe;
  border-radius: 7px;
  color: #fefefe;
  background: rgba(0, 0, 0, 0.6);
  font-size: 1.5rem;
  cursor: pointer;
  outline: none;
}

.colorBtn:hover{
  background: rgb(0, 0, 0);
}